# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [2]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

2023-01-14 12:23:35.651680: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = applicant_data_df = pd.read_csv(
    Path('resources/applicants_data.csv')
)

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)
enc

OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

/Users/lisetlopez/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [11]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
      [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Review the Dataframe
# YOUR CODE HERE
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [12]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y[:10]

0    1
1    1
2    0
3    1
4    1
5    1
6    1
7    1
8    1
9    0
Name: IS_SUCCESSFUL, dtype: int64

In [13]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
# YOUR CODE HERE
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [14]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [15]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [38]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [39]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [40]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features+number_output_neurons)//2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [19]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  round((hidden_nodes_layer1+number_output_neurons)/2,0)

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

30.0

In [20]:
# Create the Sequential model instance
nn = Sequential()

2023-01-14 12:23:59.727343: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [21]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

In [22]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2,activation='relu'))

In [23]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons,activation='sigmoid'))

In [24]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 30)                1770

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 8,587
Trainable params: 8,587
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [89]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [90]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(
    X_train_scaled, 
    y_train, 
    epochs=50,
    validation_data=(X_test_scaled, y_test)
)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5322 - accuracy: 0.7399 - val_loss: 0.5547 - val_accuracy: 0.7300
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7407 - val_loss: 0.5554 - val_accuracy: 0.7287
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7414 - val_loss: 0.5534 - val_accuracy: 0.7304
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7416 - val_loss: 0.5545 - val_accuracy: 0.7297
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7404 - val_loss: 0.5566 - val_accuracy: 0.7301
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7415 - val_loss: 0.5559 - val_accuracy: 0.7294
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7413 - val_loss: 0.5553 - val_accuracy: 0.7306
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7404 - val_loss: 0.5569 - val_accuracy: 0.7297
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7405 - val_loss: 0.5548 - val_accuracy: 0.7305
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7407 - val_loss: 0.5544 - val_accuracy: 0.7297
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7411 - val_loss: 0.5569 - val_accuracy: 0.7296
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7423 - val_loss: 0.5550 - val_accuracy: 0.7294
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7413 - val_loss: 0.5565 - val_accuracy: 0.7307
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7417 - val_loss: 0.5580 - val_accuracy: 0.7304
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7415 - val_loss: 0.5591 - val_accuracy: 0.7307
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7412 - val_loss: 0.5574 - val_accuracy: 0.7301
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7409 - val_loss: 0.5582 - val_accuracy: 0.7298
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7425 - val_loss: 0.5555 - val_accuracy: 0.7301
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7414 - val_loss: 0.5541 - val_accuracy: 0.7308
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5296 - accuracy: 0.7427 - val_loss: 0.5601 - val_accuracy: 0.7301
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7414 - val_loss: 0.5555 - val_accuracy: 0.7300
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5300 - accuracy: 0.7423 - val_loss: 0.5573 - val_accuracy: 0.7297
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7414 - val_loss: 0.5570 - val_accuracy: 0.7291
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7416 - val_loss: 0.5578 - val_accuracy: 0.7297
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5297 - accuracy: 0.7418 - val_loss: 0.5555 - val_accuracy: 0.7306
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5298 - accuracy: 0.7411 - val_loss: 0.5542 - val_accuracy: 0.7303
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5300 - accuracy: 0.7418 - val_loss: 0.5581 - val_accuracy: 0.7299
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7420 - val_loss: 0.5572 - val_accuracy: 0.7280
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5297 - accuracy: 0.7415 - val_loss: 0.5544 - val_accuracy: 0.7304
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5298 - accuracy: 0.7429 - val_loss: 0.5584 - val_accuracy: 0.7294
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5298 - accuracy: 0.7414 - val_loss: 0.5548 - val_accuracy: 0.7293
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5295 - accuracy: 0.7421 - val_loss: 0.5561 - val_accuracy: 0.7306
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5296 - accuracy: 0.7421 - val_loss: 0.5574 - val_accuracy: 0.7284
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5294 - accuracy: 0.7425 - val_loss: 0.5567 - val_accuracy: 0.7290
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5292 - accuracy: 0.7418 - val_loss: 0.5602 - val_accuracy: 0.7296
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5290 - accuracy: 0.7423 - val_loss: 0.5575 - val_accuracy: 0.7276
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5293 - accuracy: 0.7425 - val_loss: 0.5587 - val_accuracy: 0.7296
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5293 - accuracy: 0.7411 - val_loss: 0.5604 - val_accuracy: 0.7289
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5293 - accuracy: 0.7423 - val_loss: 0.5577 - val_accuracy: 0.7304
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5291 - accuracy: 0.7418 - val_loss: 0.5577 - val_accuracy: 0.7301
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5294 - accuracy: 0.7416 - val_loss: 0.5555 - val_accuracy: 0.7306
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5292 - accuracy: 0.7422 - val_loss: 0.5601 - val_accuracy: 0.7304
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5292 - accuracy: 0.7421 - val_loss: 0.5595 - val_accuracy: 0.7300
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7429 - val_loss: 0.5613 - val_accuracy: 0.7304
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5292 - accuracy: 0.7420 - val_loss: 0.5622 - val_accuracy: 0.7293
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5289 - accuracy: 0.7424 - val_loss: 0.5580 - val_accuracy: 0.7293
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5284 - accuracy: 0.7419 - val_loss: 0.5570 - val_accuracy: 0.7301
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5289 - accuracy: 0.7417 - val_loss: 0.5587 - val_accuracy: 0.7289
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5287 - accuracy: 0.7433 - val_loss: 0.5565 - val_accuracy: 0.7290
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5287 - accuracy: 0.7421 - val_loss: 0.5557 - val_accuracy: 0.7282

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [91]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display evaluation results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5557 - accuracy: 0.7282 - 234ms/epoch - 872us/step
Loss: 0.5556960701942444, Accuracy: 0.7281632423400879

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [92]:
# Set the model's file path
file_path = Path("./Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [93]:
for i in list(applicant_data_df.columns):
    print(f' unique values for {i} are : ')
    print(f'{applicant_data_df[i].unique()}')

 unique values for APPLICATION_TYPE are :
['T10' 'T3' 'T5' 'T7' 'T4' 'T6' 'T2' 'T9' 'T19' 'T8' 'T13' 'T12' 'T29'
 'T25' 'T14' 'T17' 'T15']
 unique values for AFFILIATION are :
['Independent' 'CompanySponsored' 'Family/Parent' 'National' 'Regional'
 'Other']
 unique values for CLASSIFICATION are :
['C1000' 'C2000' 'C3000' 'C1200' 'C2700' 'C7000' 'C7200' 'C1700' 'C4000'
 'C7100' 'C2800' 'C6000' 'C2100' 'C1238' 'C5000' 'C7120' 'C1800' 'C4100'
 'C1400' 'C1270' 'C2300' 'C8200' 'C1500' 'C7210' 'C1300' 'C1230' 'C1280'
 'C1240' 'C2710' 'C2561' 'C1250' 'C8000' 'C1245' 'C1260' 'C1235' 'C1720'
 'C1257' 'C4500' 'C2400' 'C8210' 'C1600' 'C1278' 'C1237' 'C4120' 'C2170'
 'C1728' 'C1732' 'C2380' 'C1283' 'C1570' 'C2500' 'C1267' 'C3700' 'C1580'
 'C2570' 'C1256' 'C1236' 'C1234' 'C1246' 'C2190' 'C4200' 'C0' 'C3200'
 'C5200' 'C1370' 'C2600' 'C1248' 'C6100' 'C1820' 'C1900' 'C2150']
 unique values for USE_CASE are :
['ProductDev' 'Preservation' 'Heathcare' 'CommunityServ' 'Other']
 unique values for ORGANIZATION are :
['Association' 'Co-operative' 'Trust' 'Corporation']
 unique values for STATUS are :
[1 0]
 unique values for INCOME_AMT are :
['0' '1-9999' '10000-24999' '100000-499999' '10M-50M' '25000-99999' '50M+'
 '1M-5M' '5M-10M']
 unique values for SPECIAL_CONSIDERATIONS are :
['N' 'Y']
 unique values for ASK_AMT are :
[    5000   108590     6692 ...     6713    20197 36500179]
 unique values for IS_SUCCESSFUL are :
[1 0]

In [ ]:
X_train = X_train.drop(columns=['SPECIAL_CONSIDERATIONS_Y'])
X_test = X_test.drop(columns=['SPECIAL_CONSIDERATIONS_Y'])

In [104]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled_n = X_scaler.transform(X_train)
X_test_scaled_n = X_scaler.transform(X_test)

In [105]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

114

In [106]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [107]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features+number_output_neurons_A1)//2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

57

In [108]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [109]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation='relu'))



# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation='sigmoid'))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_13 (Dense)            (None, 57)                6555

 dense_14 (Dense)            (None, 1)                 58

=================================================================
Total params: 6,613
Trainable params: 6,613
Non-trainable params: 0
_________________________________________________________________

In [110]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [111]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(
    X_train_scaled_n, 
    y_train, 
    epochs=50,
    validation_data=(X_test_scaled_n, y_test)
)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.5817 - accuracy: 0.7188 - val_loss: 0.5637 - val_accuracy: 0.7242
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5582 - accuracy: 0.7294 - val_loss: 0.5611 - val_accuracy: 0.7254
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5535 - accuracy: 0.7287 - val_loss: 0.5591 - val_accuracy: 0.7296
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5520 - accuracy: 0.7294 - val_loss: 0.5592 - val_accuracy: 0.7266
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7311 - val_loss: 0.5581 - val_accuracy: 0.7272
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7315 - val_loss: 0.5565 - val_accuracy: 0.7248
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7300 - val_loss: 0.5538 - val_accuracy: 0.7310
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7334 - val_loss: 0.5586 - val_accuracy: 0.7283
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7314 - val_loss: 0.5564 - val_accuracy: 0.7275
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7326 - val_loss: 0.5570 - val_accuracy: 0.7282
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7337 - val_loss: 0.5550 - val_accuracy: 0.7266
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7344 - val_loss: 0.5552 - val_accuracy: 0.7297
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7329 - val_loss: 0.5547 - val_accuracy: 0.7312
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7331 - val_loss: 0.5581 - val_accuracy: 0.7268
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7333 - val_loss: 0.5548 - val_accuracy: 0.7306
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7339 - val_loss: 0.5598 - val_accuracy: 0.7291
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7336 - val_loss: 0.5551 - val_accuracy: 0.7287
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7352 - val_loss: 0.5564 - val_accuracy: 0.7303
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7345 - val_loss: 0.5543 - val_accuracy: 0.7321
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7347 - val_loss: 0.5561 - val_accuracy: 0.7315
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7343 - val_loss: 0.5563 - val_accuracy: 0.7320
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7353 - val_loss: 0.5580 - val_accuracy: 0.7290
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7354 - val_loss: 0.5535 - val_accuracy: 0.7313
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7349 - val_loss: 0.5554 - val_accuracy: 0.7296
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7347 - val_loss: 0.5619 - val_accuracy: 0.7286
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7334 - val_loss: 0.5554 - val_accuracy: 0.7286
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7350 - val_loss: 0.5545 - val_accuracy: 0.7290
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7355 - val_loss: 0.5562 - val_accuracy: 0.7297
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7354 - val_loss: 0.5588 - val_accuracy: 0.7273
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7351 - val_loss: 0.5558 - val_accuracy: 0.7296
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7365 - val_loss: 0.5570 - val_accuracy: 0.7298
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7355 - val_loss: 0.5581 - val_accuracy: 0.7256
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7354 - val_loss: 0.5540 - val_accuracy: 0.7296
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7362 - val_loss: 0.5566 - val_accuracy: 0.7296
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7365 - val_loss: 0.5580 - val_accuracy: 0.7329
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7358 - val_loss: 0.5557 - val_accuracy: 0.7322
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7354 - val_loss: 0.5577 - val_accuracy: 0.7269
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7357 - val_loss: 0.5538 - val_accuracy: 0.7305
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7352 - val_loss: 0.5552 - val_accuracy: 0.7291
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7353 - val_loss: 0.5528 - val_accuracy: 0.7325
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7358 - val_loss: 0.5547 - val_accuracy: 0.7299
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7360 - val_loss: 0.5585 - val_accuracy: 0.7294
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7361 - val_loss: 0.5553 - val_accuracy: 0.7305
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7353 - val_loss: 0.5574 - val_accuracy: 0.7304
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7364 - val_loss: 0.5577 - val_accuracy: 0.7315
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7367 - val_loss: 0.5596 - val_accuracy: 0.7329
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7356 - val_loss: 0.5572 - val_accuracy: 0.7278
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7358 - val_loss: 0.5626 - val_accuracy: 0.7304
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7373 - val_loss: 0.5602 - val_accuracy: 0.7307
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7360 - val_loss: 0.5592 - val_accuracy: 0.7298

#### Alternative Model 2

In [112]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

114

In [114]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [115]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features+number_output_neurons_A2)//2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

57

In [117]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [119]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation='relu'))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation='sigmoid'))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 57)                6555

 dense_16 (Dense)            (None, 1)                 58

 dense_17 (Dense)            (None, 57)                114

 dense_18 (Dense)            (None, 1)                 58

=================================================================
Total params: 6,785
Trainable params: 6,785
Non-trainable params: 0
_________________________________________________________________

In [120]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [121]:
# Fit the model
fit_model_A2 = nn_A2.fit(
    X_train_scaled_n, 
    y_train, 
    epochs=50,
    validation_data=(X_test_scaled_n, y_test)
)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6062 - accuracy: 0.6937 - val_loss: 0.5752 - val_accuracy: 0.7312
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5721 - accuracy: 0.7300 - val_loss: 0.5725 - val_accuracy: 0.7292
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5697 - accuracy: 0.7311 - val_loss: 0.5701 - val_accuracy: 0.7276
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5634 - accuracy: 0.7308 - val_loss: 0.5593 - val_accuracy: 0.7277
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5581 - accuracy: 0.7294 - val_loss: 0.5596 - val_accuracy: 0.7306
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5551 - accuracy: 0.7317 - val_loss: 0.5589 - val_accuracy: 0.7250
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5540 - accuracy: 0.7325 - val_loss: 0.5602 - val_accuracy: 0.7251
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5521 - accuracy: 0.7323 - val_loss: 0.5566 - val_accuracy: 0.7312
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7335 - val_loss: 0.5538 - val_accuracy: 0.7289
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7322 - val_loss: 0.5555 - val_accuracy: 0.7300
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7336 - val_loss: 0.5549 - val_accuracy: 0.7275
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5485 - accuracy: 0.7336 - val_loss: 0.5539 - val_accuracy: 0.7319
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7345 - val_loss: 0.5549 - val_accuracy: 0.7291
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7345 - val_loss: 0.5521 - val_accuracy: 0.7334
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7346 - val_loss: 0.5553 - val_accuracy: 0.7286
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7345 - val_loss: 0.5545 - val_accuracy: 0.7263
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7345 - val_loss: 0.5522 - val_accuracy: 0.7304
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7356 - val_loss: 0.5554 - val_accuracy: 0.7272
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7349 - val_loss: 0.5585 - val_accuracy: 0.7287
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7358 - val_loss: 0.5544 - val_accuracy: 0.7266
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7364 - val_loss: 0.5595 - val_accuracy: 0.7291
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7359 - val_loss: 0.5545 - val_accuracy: 0.7276
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7355 - val_loss: 0.5525 - val_accuracy: 0.7315
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7360 - val_loss: 0.5530 - val_accuracy: 0.7314
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7366 - val_loss: 0.5539 - val_accuracy: 0.7298
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7352 - val_loss: 0.5524 - val_accuracy: 0.7310
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7362 - val_loss: 0.5523 - val_accuracy: 0.7304
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7372 - val_loss: 0.5535 - val_accuracy: 0.7262
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7363 - val_loss: 0.5519 - val_accuracy: 0.7325
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7359 - val_loss: 0.5552 - val_accuracy: 0.7273
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7372 - val_loss: 0.5494 - val_accuracy: 0.7325
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7369 - val_loss: 0.5509 - val_accuracy: 0.7317
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7367 - val_loss: 0.5523 - val_accuracy: 0.7293
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7358 - val_loss: 0.5535 - val_accuracy: 0.7305
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7372 - val_loss: 0.5528 - val_accuracy: 0.7289
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7359 - val_loss: 0.5543 - val_accuracy: 0.7287
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7370 - val_loss: 0.5520 - val_accuracy: 0.7294
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7366 - val_loss: 0.5534 - val_accuracy: 0.7300
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7374 - val_loss: 0.5524 - val_accuracy: 0.7300
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7379 - val_loss: 0.5530 - val_accuracy: 0.7287
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7358 - val_loss: 0.5526 - val_accuracy: 0.7304
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7380 - val_loss: 0.5533 - val_accuracy: 0.7315
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7380 - val_loss: 0.5577 - val_accuracy: 0.7250
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7375 - val_loss: 0.5553 - val_accuracy: 0.7261
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7372 - val_loss: 0.5533 - val_accuracy: 0.7294
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7365 - val_loss: 0.5515 - val_accuracy: 0.7308
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7377 - val_loss: 0.5547 - val_accuracy: 0.7282
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7383 - val_loss: 0.5531 - val_accuracy: 0.7290
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7365 - val_loss: 0.5515 - val_accuracy: 0.7306
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7372 - val_loss: 0.5513 - val_accuracy: 0.7318

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [123]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.5557 - accuracy: 0.7282 - 805ms/epoch - 3ms/step
Loss: 0.5556960701942444, Accuracy: 0.7281632423400879

In [124]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled_n,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5592 - accuracy: 0.7298 - 249ms/epoch - 929us/step
Loss: 0.5591636300086975, Accuracy: 0.7297959327697754

In [126]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled_n,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5513 - accuracy: 0.7318 - 224ms/epoch - 837us/step
Loss: 0.5513098835945129, Accuracy: 0.7317784428596497

### Step 3: Save each of your alternative models as an HDF5 file.

In [127]:
# Set the file path for the first alternative model
file_path = Path("./Resources/AlphabetSoupA1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [128]:
# Set the file path for the second alternative model
file_path = Path("./Resources/AlphabetSoupA2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)